/*--------------Footer------------*/
footer {
  width: 100%;
  height: 100px;
  background-color: #343333;
}
/*----------------------------------*/
#triangles {
  display: flex;
  justify-content: flex-end;
}
#triangles > #first,
#triangles > #second,
#triangles > #third {
  width: 25vw;
  height: 10vw;
  background-color: hotpink;
  margin-right: 0;
}

footer > .lower {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer > .lower > img {
  width: 100px;
  height: 100px;
  background-color: red;
}
