@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400i,500&subset=latin-ext");
:root {
  --button-color: #de9658;
  --navbar-color: #343333;
  --main-color: #6bbe52;
  --main-font-size: 1.5rem;
  --main-font-family: "Fira Sans", sans-serif;
  --breakpoint-sm: 600px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1920px;
}
html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--main-font-family);
  font-weight: 300;
}

.headertitle {
  position: absolute;
  top: 0.75rem;
  left: 5rem;
  font-size: 1.5em;
  color: white;
}

.headertitle > a {
  color: white;
  text-decoration: none;
}

.headerwrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #343333;
  z-index: 2;
}

.headerlistwrapper {
  position: relative;
  width: 100%;
  height: 50px;
}

.headerlist {
  list-style: none;
  position: absolute;
  top: 0;
  right: 4rem;
  margin: 0;
}

.headerlist > a > li {
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
  transition: 0.3s all;
  padding: calc(27px / 2) 2.5rem;
}

.headerlist > a > li:hover:not(.activeHeaderLi) {
  color: #6abd51;
}

#simonyisvg {
  width: 30px;
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
}

#simonyisvg > cls-1 {
  fill: #63bc47;
}

.headertitlewrapper {
  display: inline;
  position: absolute;
  top: 0;
  left: 35px;
  width: 25rem;
}

.activeHeaderLi {
  background-color: #de9658;
  color: white;
}

.headerlist > a {
  color: white;
  text-decoration: none;
}

/*--------------------*/
/*----Header End------*/
/*--------------------*/
section {
  margin-bottom: 2rem;
}

#hero {
  height: 100vh;
}

.hero-bg-cont {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.sectionheader {
  text-align: center;
}
.hircontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hir {
  width: 80%;
  margin: 1rem 0;
}

.hirfejlec {
  background-color: #63bc47;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  align-items: baseline;
}
.hircim {
  font-size: 1.5rem;
  font-weight: 400;
  flex: 1;
  text-align: center;
  margin: 0 1rem;
}
.hirtorzs {
  margin: 0.5rem 1rem;
}

@media (max-width: 600px) {
  .hirfejlec {
    flex-direction: column;
  }
  .hircim {
    order: 1;
    align-self: center;
    margin-top: 1rem;
  }
}

@media (min-width: 600px) {
  .hirszerzo {
    max-width: 8rem;
  }
}

/* Timeline */

#esemenyek {
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.honapcontainer {
  width: 50%;
  border-left: 0.5rem solid #63bc47;
  border-radius: 0.5rem;
}
.honap {
  display: flex;
  width: 100%;
  border-top: 3px dashed rgba(75, 75, 75, 0.5);
}
.honap-nev {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.5rem;
  color: rgba(75, 75, 75, 0.5);
}
.honap-esemenyek {
  flex-basis: 70%;
}
.esemeny {
  display: flex;
  padding-left: 2rem;
  margin: 0.5rem 0 2rem;
  position: relative;
  line-height: 1.5rem;
}
.esemeny::after {
  position: absolute;
  left: calc(-1 * ((1rem + 2 * 0.5rem) / 2 + 0.5rem / 2));
  background: white;
  border: 0.5rem solid #63bc47;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  content: "";
  top: calc(-1 * ((1rem + 2 * 0.5rem) / 2 - 1.5rem / 2));
}
.esemeny > div {
  font-size: 1.5rem;
}
.esemeny-datum {
  flex-basis: 5rem;
}
/*
.timeline {
  border-left: 4px solid green;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0,0,0,0.03);
  color: rgba(0,0,0,0.8);
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 30%;
}
.event {
  border-bottom: 1px dashed rgba(0,0,0,0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.event:before,
.event:after {
  position: absolute;
  display: block;
  top: 0;
}

.event:before {
  left: -220px;
  color: rgba(0,0,0,0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

.event:after {
  box-shadow: 0 0 0 4px #004ffc;
  left: -60px;
  background: #252827;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
*/
/*.mainpagehero {
  width: 100%;
  height: calc(100vh - 50px);
  margin-top: 50px;
  background-color: grey;
}

.mainpagetext {
  width: 80%;
  margin: auto;
  position: relative;
}

.mainpagetext_title {
  font-size: 2em;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-image: url("../media/title-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mainpagetext_article {
  text-align: justify;
  margin: 0 4rem 2rem 4rem;
  border-radius: 30px;
  background-color: var(--main-color);
  font-size: var(--main-font-size);
  padding: 2rem;
}
.button {
  background-color: var(--button-color);
  border-radius: 1000px;
  color: white;
  margin: auto;
  border: none;
  padding: 1rem 2rem;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-weight: 300;
}

.wpic {
  width: 60%;
}

.mainpagetext_section {
  position: relative;
  text-align: center;
}

.mainpagetext_image {
  position: absolute;
  top: 6.75rem;
  right: 4rem;
  width: 25%;
  height: 75vh;
  background-color: grey;
}

.leaderwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.bosswrapper {
  text-align: center;
  width: 15%;
}

.bosspic {
  width: 90%;
  margin: 0 auto;
  height: 250px;
  background-color: gray;
}

.bossname {
  margin-top: 1rem;
}

.mainfooter {
  margin-bottom: 20rem;
}
*/
