.galeryMainWrapper{
    width: 90%;
    margin: 50px auto 1rem auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: space-evenly;
}

.galeryImage{
    max-width: 100%;
    width: calc(50% - 1rem);
    height: 20rem;
    background-color: red;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
}

.galeryMore{
    width: 10rem;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    background-color: #343333;
    color: white;   
    text-align: center;
    margin-bottom: 4rem;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}