<header class="headerwrapper">
  <div class="headerlistwrapper">
    <a class="headertitle" href="index.html">
      <div>
        <div class="logocontainer">
          <img src="logo_small.svg" />
        </div>
        <div class="headertitlewrapper">
          Simonyi Károly Szakkollégium
        </div>
      </div>
    </a>
    <i class="fa fa-bars hamburger"></i>
    <ul class="headerlist">
      <a class="{{ page === 'about' ? 'activeHeaderLi' : '' }}" href="./about.html"
        ><li>
          Rólunk
        </li></a
      >
      <a class="{{ page === 'services' ? 'activeHeaderLi' : '' }}" href="./services.html"
        ><li>
          Szolgáltatások
        </li></a
      >
      <a class="{{ page === 'groups' ? 'activeHeaderLi' : '' }}" href="./groups.html"
        ><li>
          Körök
        </li></a
      >
      <a class="{{ page === 'galery' ? 'activeHeaderLi' : '' }}" href="./galery.html"
        ><li>
          Galéria
        </li></a
      >
    </ul>
  </div>
</header>
