.aboutSectionContainer {
  padding-left: 10rem;
}
.aboutSectionTitle {
  color: #6abd51;
  text-align: center;
}
.aboutHeroContainer {
  display: flex;
  position: relative;
}

.aboutHeroText {
  line-height: 2rem;
}

.aboutHeroImage {
  /*position: absolute;
  top: 0;
  right: 0;
  width: calc(70% - 6rem);
  height: calc(100vh - 50px);*/
  flex-basis: 40%;
  flex-shrink: 0;
  width: 100%;
  background-image: url("/resources/20180630_121616_spot.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: ellipse(50% 75% at 65% 50%);
}
