.groupsSectionContainer {
  padding: 1rem 10rem;
}
.groupsSectionTitle {
  margin: 0;
  text-align: center;
  color: #6abd51;
}
.groupsWrapper {
}

@media only screen and (max-width: 1024px) {
  .groupsSectionContainer {
    padding: 1rem 5rem;
  }
}